@{
    ViewData["Title"] = "Информация о проекте";
    Layout = "_DefaultLayout";
}
 
@* <partial name="_DefaultLayout" /> *@
<style class="cp-pen-styles">

    body {
        background-color: #f5f5f7;
    }
</style>

<div class="container py-5">
    <h1 class="mb-4">Политика конфиденциальности</h1>
    <p>Добро пожаловать на страницу политики конфиденциальности автосервиса "iCarService". Мы ценим ваше доверие и обязуемся защищать вашу личную информацию. Ниже приведены основные положения нашей политики конфиденциальности:</p>

    <h3>Сбор и использование информации:</h3>
    <ul>
        <li>Мы собираем только ту личную информацию, которая необходима для предоставления наших услуг и улучшения вашего опыта использования сайта.</li>
        <li>Личная информация может включать в себя имя, контактные данные, информацию о вашем автомобиле и другие данные, которые вы предоставляете добровольно.</li>
    </ul>

    <h3>Хранение и защита информации:</h3>
    <ul>
        <li>Мы предпринимаем все необходимые меры для защиты вашей личной информации от несанкционированного доступа, использования или разглашения.</li>
        <li>Вся информация хранится на защищенных серверах с ограниченным доступом.</li>
    </ul>

    <h3>Предоставление информации третьим лицам:</h3>
    <ul>
        <li>Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, предусмотренных законодательством.</li>
    </ul>

    <h3>Согласие с политикой:</h3>
    <ul>
        <li>Используя наш сайт, вы соглашаетесь с условиями нашей политики конфиденциальности.</li>
        <li>Если вы не согласны с этой политикой, пожалуйста, не используйте наш сайт.</li>
    </ul>

    <h3>Изменения в политике:</h3>
    <ul>
        <li>Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности в любое время.</li>
        <li>Изменения вступают в силу с момента их публикации на этой странице.</li>
    </ul>


    <h3>Интеллектуальная собственность:</h3>
    <ul>
        <li>Весь контент на нашем сайте, включая текст, изображения, логотипы и другие материалы, защищен авторским правом и принадлежит автосервису "iCarService".</li>
        <li>Любое использование или воспроизведение материалов с нашего сай-та без разрешения запрещено.</li>
    </ul>

    <h3>Отказ от ответственности:</h3>
    <ul>
        <li>Мы не несем ответственности за любые убытки или ущерб, возникшие в результате использования нашего сайта или его содержимого.</li>
        <li>Мы не гарантируем точность, полноту или актуальность информации, предоставленной на нашем сайте.</li>
    </ul>

    <h3>Изменения в условиях:</h3>
    <ul>
        <li>Мы оставляем за собой право вносить изменения в наши условия использования в любое время.</li>
        <li>Изменения вступают в силу с момента их публикации на этой странице.</li>
    </ul>

    <h3>Пользование сайтом:</h3>
    <ul>
        <li>Используя наш сайт, вы соглашаетесь с этими условиями использования. Если вы не согласны с этими условиями, пожалуйста, не используйте наш сайт.</li>
    </ul>
    <div class="alert alert-warning" role="alert">
        <p class="mt-4">Если у вас есть какие-либо вопросы или замечания относительно наших условий использования, пожалуйста, свяжитесь с нами:</p>
    </div>
</div>