@model List<CarServiceApp.Domain.Entity.Models.Client>
@{
    ViewBag.Title = "Клиенты";
}
<div class="col-md-12">
    <table class="table table-hover">
        @foreach (var i in Model)
        {
            <tr onclick="addToSet(this)">
                <td>@i.FullName</td>
                <td>@i.ClientId</td>
                <td>@i.NumberDriveLicense</td>
            </tr>
        }
    </table>
</div>
<script>
</script>