@model IEnumerable<CarServiceApp.Domain.Entity.Models.Provider>
@{
    ViewBag.Title = "Поставщики";
}
<div class="col-md-12">
    <table class="table table-hover">
        @foreach (var i in Model)
        {
            <tr onclick="addToSet(this)">
                <td>@i.Name</td>
                <td>@i.CertificateNumber</td>
                <td>@i.Id</td>
            </tr>
        }
    </table>
</div>
<script>
</script>